<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Web Scraper/Devgo</title>
		<link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id="page">
			<header id="header">
				<div id="logo">
                    <h1><a href="https://webappscraper.herokuapp.com/">Web<span>Scraper</span></a></h1>
				</div>
			</header>
			<div class="banner">
				<div class="banner-inner">
					<h1>Lista de Perguntas do Stack Overflow (Javascript)</h1>
					<div class="form">	
						<form action="/custom" method="POST">
							<div class="form-group">
								<input type="text" class="form-control" id="input-tag" aria-describedby="inputtag" placeholder="Um tema (ex: c, java, ..)" name="tag">
								
							</div>
							<button type="submit" class="btn">Submit</button> 
						</form>
					</div>
				</div>
			</div>
			
			
			<div id="content">
				<div id="content-inner">
					<div class="menu">
						<h3 style="color:black">Outros sites:</h3>
						<ul>								
						<li><a href="https://webappscraper.herokuapp.com/">DevGo</a></li>
						<li><a href="https://webappscraper.herokuapp.com/stackoverflow">StackOverflow</a></li>
						<li><a href="https://webappscraper.herokuapp.com/assetto">AssettoCorsaMods</a></li>
					</ul>
					</div>
					<div class="tabela">
						{% for table in tables %}
						{{titles[loop.index]}}
						{{ table|safe }}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</body>
</html>